@charset "utf-8";
/* CSS Document */
body{margin:0;padding:0;font-family:"微软雅黑";font-size:10px;width:100%;height:100%}
h1,p,h3,h4,h5,h6,ul,li,dl,dt,dd,hr,div,p,form,input,font,wrap,sort { margin:0; padding:0; font-weight:normal; text-indent:0; list-style-type:none; }
img{border:0;}
li{list-style:none;}
a{text-decoration:none;color:#0611ee;font-weight:bold;-webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; -webkit-user-select: none;}
input,textarea{background:none;border:none;outline:medium;}
.clear{clear:both}}
.content {min-height: calc(100vh - 50px); padding: 20px 40px 0 40px;}
* { box-sizing: border-box;}
body { margin: 0 auto;font: 16px Sans-Serif;}
h1 { margin: 0 0 20px 0;}
p { margin: 0 }
/*首页头部*/
.i_head_center{margin: 0 auto;width: 100%;}
.i_head_center_l{text-align:center;color:#0611ee;}
.i_head_center_c li{width:20%;float:left;}
.i_head_center_c li a{display:block;width:100%;height:36px;line-height:36px;margin-top:7px;color:#333;text-align:center;font-size:15px;}
.i_head_center_c li a:hover{background:#f48365;color:#fff;}
.i_head_center_r{width:212px;height:30px;background:#eee;float:left;margin-top: 10px;}
.i_head_search{width:212px;height:30px;background:#eee;float:left;border:1px solid #ddd;}
.i_head_search_in{width:180px;height:30px;line-height:30px;float:left;text-indent:10px;}
.i_head_search_sub{width:32px;height:30px;float:left;background:url('../img/icon.png') left -83px no-repeat #fafafa;border: none;}
/*中间*/
.i_center{ width:100%; margin: 0 auto;}
/*中间右侧导航*/
.i_center_l{width:150px;float:left;}
.i_center_l li{float:left;width:150px;    height: 36px;line-height: 36px; font-size: 14px; color: #000;cursor:pointer; }
.i_center_l li :hover{background:#FB5F37;color:#fff;}
.i_center_l li img{float:left;width:30px;margin-left: 15px;}
.i_center_l li a{display:block;width:110px;}
/*正文*/
.i_center_c{    width: 96%;margin-left:2%;margin-right: 15px; text-align: left; float: left;}
/*轮播*/
.i_center_banner{width:100%;height:200px;background:#fff;border-radius: 5px;}
.i_center_banner_t{width:100%;}
.tui_p{float:left;line-height:50px;font-size:15px;    margin-left: 10px;}
.i_center_banner_t li{padding:3px 10px;color:#fff;font-size:14px;float:left;border-radius:10px;margin-left:10px;margin-top:12px;cursor:pointer;}
.i_center_banner_t li:hover{background:#F9F2E2;}
.i_center_banner_t li a{display:block;width:100%;color:#b69e88;}
.i_center_g{color:#b69e88;float:right;margin-right:10px;line-height:50px;}
/*笑话正文*/
.i_center_z{width:100%;border-radius:5px;padding:10px;overflow: hidden;}
.i_center_z_top{}
.i_center_z_top_1{}
.i_center_z_top_1_img{float:left;width:580px;}
.i_center_z_top_1_img img{width:36px;height:36px;float:left;}
.i_center_z_top_1_img_p1{line-height:36px; height:36px;   float: left;margin-left:5px;color:#b69e88;font-size:18px;}
.i_center_z_top_1_img_p2{line-height:36px; height:36px;   float: left;margin-left:5px;color:#999;}
.i_center_z_top_1_img_p3{line-height:36px; height:36px;   float: right;margin-right:15px;color:#999;}
.i_center_z_body{    text-align: center;}
.i_center_z_body_p1{line-height:36px; float:left;font-size:14px;width:96%;margin-left:2%;text-align:left;}
.i_center_z_body_img{width:200px;}
/*播放视频*/
.i_center_z_body_bo_img{position:relative;text-align:center;display:block;width:200px;margin: 0 auto;}
.i_center_z_body_bo_img1{width:200px;}

.bofang{position:absolute;top: 50%;left: 50%; transform: translate(-50%, -50%);width:50px;}

.i_center_r{width:300px;float:left;margin-left: 30px;}
.i_center_r_ad{width:100%;border-radius:5px;margin-top:10px;}
.i_center_r_ad img{width:100%;border-radius:5px;}
#portamento_container {float:right; position:relative;} 
#portamento_container #sidebar {float:none; position:absolute;margin-top: 70px;border-radius: 10px;} 
#portamento_container #sidebar.fixed {position:fixed;}
.i_center_r_pai{background:#fff;}
.i_center_r_pai h2{background: url('../img/main.png') repeat-x scroll 0 -300px;    height: 42px;  line-height: 42px; padding: 0 12px; font-size: 16px;}
.i_center_r_pai li{width:300px;border-bottom:1px dashed #eee;padding-bottom:10px;    overflow: hidden;margin-bottom:10px;}
.i_center_r_pai li a{display:block;width:100%;font-size:14px;margin-left:10px;}
.word1{
  width:94%;
  margin-left:3%;
  margin-top:20px;
  margin-bottom:40px;
}
 .choose{
    border: 1px solid #2883a7;
    background:#fff;
    margin-right:10px;
    margin-top:10px;
    width: 50px;
    line-height:50px;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #000;
    text-align:center;
    cursor: pointer;
    font-weight:bold;
}
.pause {background-position: 0 bottom;}
.mscBtn {display: block;}
.playing {
color:#000;
  width: 3rem;
  height: 2.5rem;
  border-radius: .3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: .5rem;
  box-sizing: border-box;
  z-index:9999;
}

.playing__bar {
  display: inline-block;
  background: #000;
  color:#000;
  width: .5rem;
  height: 100%;
  -webkit-animation: up-and-down 1.3s ease infinite alternate;
          animation: up-and-down 1.3s ease infinite alternate;
}

.playing__bar1 {
  height: 60%;
  color:#000;
}

.playing__bar2 {
  height: 30%;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
		  color:#000;
}

.playing__bar3 {
  height: 75%;
  -webkit-animation-delay: -3.7s;
          animation-delay: -3.7s;
		  color:#000;
}

@-webkit-keyframes up-and-down {
  10% {
    height: 30%;
  }
  30% {
    height: 100%;
  }
  60% {
    height: 50%;
  }
  80% {
    height: 75%;
  }
  100% {
    height: 20%;
  }
}

@keyframes up-and-down {
  10% {
    height: 30%;
  }
  30% {
    height: 100%;
  }
  60% {
    height: 50%;
  }
  80% {
    height: 75%;
  }
  100% {
    height: 20%;
  }
}


/*footer*/

.footer {background:#fff;color: #000; line-height: 50px; padding: 0 20px;}
.footers{width:100%;margin:0 auto;text-align:center;line-height:30px;font-size:14px;}

/*内容页*/
.ad{width:100%;}
.ad img{width:100%;}
.article_body{background:#fff;border-radius:5px;border-bottom:1px dashed #e3e3e3;padding-bottom:10px;}
.article_body_title{width:100%;color:#333333;text-align:left;line-height:40px;text-indent:20px;}
.article_body1{background:#fff;border-radius:5px;margin-top:10px;}
.article_body_title1{width:100%;color:#333333;text-align:center;line-height:40px;}
.article_body_title_1{width: 100%;text-align:center;color:#333;font-size: 14px; line-height: 24px;}
.article_body_title_1 img{width:250px;margin-top:20px;}
.article_body_title_video{width: 100%;text-align:center;color:#333;font-size: 14px; line-height: 24px;height:250px;}/*视频页限制高度*/
.article_goumai{width:100%;padding:10px;border-radius:10px;background:#fff;margin-top:20px;overflow: hidden;}
.article_goumai_p{color:#333;font-size:18px;font-weight:bold;height:40px;line-height:40px;border-bottom:1px dashed #ccc;text-align:left;text-indent:10px;color:#333;    margin-bottom: 10px;}
.article_goumai_l{float:left;margin-left:50px;}
.article_goumai_l img{width:100px;border-radius:5px;}
.article_goumai_r{float:left;margin-left:20px;}
.article_goumai_p1{height:30px;line-height:30px;margin-top:20px;font-size:14px;font-weight:bold;}
.article_goumai_p2{line-height:40px;width:200px;color:#0611ee;background:#fff;text-align:center;margin:20px auto;border-radius:10px;vertical-align:middle;}
.article_goumai_p2 a{color:#0611ee;text-align:center;font-size:16px;display:block;font-weight:bold;}
.article_goumai_p2 img{width:30px;height:30px;vertical-align:middle;line-height:30px;margin-right:10px;}
/*.answer{width:260px;margin:0 auto;display:flex;justify-content: center;}
.answer p{width:50px;height:50px;background:#fff;float:left;border:1px solid #2883a7;align-items: center;margin:0 auto;text-align:center;vertical-align:middle;line-height:50px;font-size:16px;font-weight:bold;border-radius:10px;}*/
.bogy_wen{text-align:left;width:96%;margin-left:2%;}
.back{width:30px;height:30px;}
.back p{background:none;border:none;}
.back img{width:30px;height:30px;}
/*相关*/
.article_xg{width:100%;padding:10px;border-radius:10px;background:#fff;margin-top:20px;overflow: hidden;}
.article_xg_p{font-size:18px;font-weight:bold;height:40px;line-height:40px;border-bottom:1px dashed #ccc;text-align:left;text-indent:10px;color:#333;    margin-bottom: 10px;}
.article_xg li{line-height:30px;font-size:15px;float:left;width:100%;border-bottom:1px solid #eee;}
.article_xg li a{display:block;width:100%;color:#333;cursor:pointer;}


.name{
    text-align:center;
    font-size:18px;
    font-weight:normal;
    clear:both;
    padding-top:20px;
    display:block;
    height:40px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.shuru{position:relative; align-items: center;}
.back{
  position:absolute;
  right:10px;
  top:15px;
}
.name .wenzi{
    border:1px solid #2883a7;
    width:50px;
    margin-right:10px;
    height:50px;
    align-items: center;
    line-height:50px;
    border-radius:10px;
    font-weight:normal;
    font-size:20px;
    color:#0611ee;
    text-align:center;
    background:#fff;
    font-weight:bold;
  }

.pages{
margin:0 auto;
margin-top:20px;
margin-bottom:20px;tex-align:center;
}
.page{margin:0 auto;tex-align:center;}
.pages a{
float:left;
color:#000;
background:#fff;
padding:5px;
margin-right:10px;
}

